{% include "header.html" %}
    <h1> Change Password </h1>
    <form action = "/changepassword" method="POST">
        <div>
            Current Password
            <input type="password" name="currentpassword" placeholder="Enter Current Password"></input>
        </div>
        <div>
            New Password
            <input type="password" name="newpassword" placeholder="Enter New Password"></input>
        </div>
        <div>
            Reenter New Password
            <input type="password" name="newpassword2" placeholder="Enter New Password Again"></input>
        </div>
        <div>
            <input type="submit" value="Change Password"></input>
        </div>
    </form>    

    {% if updatepassword %}  
    <div> Password Updated! </div>
    {% endif %}
    {% if error %} 
    {{ error }}
    {% endif %}

{% include "footer.html" %}